@use '../assets';

#app-mount {
	.sidebar-1tnWFu {
		div[style="height: 84px;"],
		.animatedContainer-2laTjx {
			display: none;
		}
	}
	.selected-1GtAC5 .header-3OsQeK {
		background: transparent;
	}
	.header-3OsQeK {
		height: var(--toolbar-height);
		border-bottom: 1px solid var(--border);
		filter: none;
		box-shadow: none;
		padding: 0 18px;

		.name-3Uvkvr {
			font-weight: 500;
		}
		.button-2BMPJJ {
			margin-left: 0;
			mask: url(assets.$icon_cog) center/cover;
			background: var(--interactive-normal);
			width: 24px;
			height: 24px;
			g {
				display: none;
			}
			&.open-3fGK6o {
				transform: rotate(-65deg);
			}
		}

		&:hover {
			background: transparent;
		}
	}
	.guildIconContainer-2FW_iA {
		display: none;
	}
	.headerButton-1nmDZ3 {
		background: transparent;
	}
}