@import url("https://clearvision.gitlab.io/v6/main.css");
:root {
    .typeWindows-1za-n7 > .wordmark-2iDDfm:before {
        content: "PhoenixVizan ClearVision Custom Preset (Astolfo Revision) | Preset by Vizan#8311 | ClearVision by Various Users";
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        text-shadow: 0 0 3px #000;
      }
      .container-3baos1:before {
        content: "PhoenixVizan | Revision 1";
        right: 50%;
        text-align: right;
        transform: translateX(50%);
      }
--main-color: #ef56e6FF;
--hover-color: #ef56e6FF;
--success-color: #ef56e6FF;
--danger-color: #982929;
--url-color: #ef56e6FF;
--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streamig-color: #593695;
--offline-color: #808080;
--main-font: 'Comfortaa';
--code-font: 'Consolas';
--text-normal: #dcdddeff;
--text-muted: #44474BFF;
--channels-width: 250px;
--members-width: 240px;
--background-shading: 100%;
--background-overlay: #00000099;
--background-image: url('https://i.imgur.com/KFb1IxH.jpg');
--background-size: cover;
--background-position: center;
--background-repeat: no-repeat;
--background-attachment: fixed;
--background-brightness: 100%;
--background-constrast: 100%;
--background-saturation: 100%;
--background-invert: 0%;
--background-grayscale: 0%;
--background-sepia: 0%;
--background-blur: 0px;
--home-icon: url('https://i.imgur.com/0ckaKc0.png');
--home-position: center;
--home-size: 40px;
--background-overlay: #00000099;
--backdrop-image: url('https://i.imgur.com/KFb1IxH.jpg');
--backdrop-image: center;
--backdrop-size: cover;
--backdrop-repeat: repeat;
--backdrop-attachment: fixed;
--backdrop-brightness: 100%;
--backdrop-constrast: 100%;
--backdrop-saturation: 100%;
--backdrop-invert: 0%;
--backdrop-grayscale: 0%;
--backdrop-sepia: 0%;
--backdrop-blur: 0px;
--user-popout-image: url('https://i.imgur.com/KFb1IxH.jpg');
--user-popout-image: center;
--user-popout-size: cover;
--user-popout-repeat: repeat;
--user-popout-attachment: fixed;
--user-popout-brightness: 100%;
--user-popout-constrast: 100%;
--user-popout-saturation: 100%;
--user-popout-invert: 0%;
--user-popout-grayscale: 0%;
--user-popout-sepia: 0%;
--user-popout-blur: 0px;
--user-popout-overlay: #000000a6;
--user-modal-image: url('https://i.imgur.com/KFb1IxH.jpg');
--user-modal-image: center;
--user-modal-size: cover;
--user-modal-repeat: repeat;
--user-modal-attachment: fixed;
--user-modal-brightness: 100%;
--user-modal-constrast: 100%;
--user-modal-saturation: 100%;
--user-modal-invert: 0%;
--user-modal-grayscale: 0%;
--user-modal-sepia: 0%;
--user-modal-blur: 0px;
--bd-blue: #ef56e6FF;
--bd-blue-hover: #ef56e6FF;
--bd-blue-active: #ef56e6FF;
}