@use "lilypichu.scss";
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");
//Sidebar Text
.container-1eFtFS::after {
  content: "PhoenixVizan V9 \ Shadow Revision"; position: fixed;
  top: 220px; bottom: 85px; right: 60px; z-index: -2;
  width: 320px; background-color: var(--background-primary);
  text-align: center; display: flex; align-items: center;
  justify-content: center; font-size: 30px; color: var(--text-normal);
  border-radius: var(--border-radius);
  overflow: hidden;
}

:root .app-2CXKsg::before { background: transparent center/90% no-repeat;}

:root .app-3xd6d0::before, :root .app-3xd6d0::after { display: none;}

:root .app-2CXKsg::after { 
    background: transparent;
    background-size: 91%;
}

:root .layers-OrUESM::after { 
    background: transparent;
    background-size: 97%;
}

:root .layers-OrUESM::before {
    background: transparent;
    background-size: 100%;
    right: -3px;
}

:root .bg-1QIAus::after { 
    background: transparent;
    background-size: 92%;
}

:root .bg-1QIAus::before { 
    background: transparent;
    background-size: 100%;
}
:root {

// --- User variables ---

// Jumping GIF
--jumping-gif: transparent;

// Background (if you want an image replace it by : 

// --background-tertiary-alt: url("image-link");
--background-tertiary-alt: url("https://i.imgur.com/bYuT8vR.png");

// Border-radius for the whole theme 
--border-radius: 20px;

&.theme-dark {

    // Text
    --text-normal: #ffffff;
    --header-primary: #ffffff;
    --interactive-normal: #ff3131;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #ffffff;

    --header-secondary: #ffffff;
    --interactive-hover: #ff8282;
    --interactive-active: #ff0000;

    // Background color
    --background-primary: #000000c0;
    --background-secondary: #00000088;
    --background-secondary-alt: #000000b9;
    --background-tertiary: #000000c7;
    --background-floating: #000000cc;
    --background-accent: #000000b7;
    --activity-card-background: var(--background-secondary-alt);
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(59, 59, 59, 0.32);
    --background-modifier-active: rgba(31, 31, 31, 0.32);
    --background-modifier-selected: rgba(24, 24, 24, 0.32);
    --toast-background: rgb(95, 95, 95) !important;
    --toast-header: #2e2e2ed5 !important;
    --toast-contents: #474747cb !important;
    --toast-border: #444444c0 !important;

    // Scrollbar
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    // Other
    --deprecated-quickswitcher-input-background: var(--background-primary);

    .colorBrand-3cPPsm { color: #ffffff;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    // Buttons
    .lookFilled-yCfaCM { background-color: #000000 !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #ffffff !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #ffffff; border-color: #ffffff;}

    // Hover background
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}
}

&.theme-light {

    // Text
    --text-normal: #ffffff;
    --header-primary: #ffffff;
    --interactive-normal: #ff3131;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #ffffff;

    --header-secondary: #ffffff;
    --interactive-hover: #ff8282;
    --interactive-active: #ff0000;

    // Background color
    --background-primary: #000000c0;
    --background-secondary: #00000088;
    --background-secondary-alt: #000000b9;
    --background-tertiary: #000000c7;
    --background-floating: #000000cc;
    --background-accent: #000000b7;
    --activity-card-background: var(--background-secondary-alt);
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(59, 59, 59, 0.32);
    --background-modifier-active: rgba(31, 31, 31, 0.32);
    --background-modifier-selected: rgba(24, 24, 24, 0.32);
    --toast-background: rgb(95, 95, 95) !important;
    --toast-header: #2e2e2ed5 !important;
    --toast-contents: #474747cb !important;
    --toast-border: #444444c0 !important;

    // Scrollbar
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    // Other
    --deprecated-quickswitcher-input-background: var(--background-primary);

    .colorBrand-3cPPsm { color: #ffffff;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    // Buttons
    .lookFilled-yCfaCM { background-color: #000000 !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #ffffff !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #ffffff; border-color: #ffffff;}

    // Hover background
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}
}

#app-mount {

// Fonts
--font-primary: 'Nunito';
--font-display: 'Nunito';

}

}