@import "https://clearvision.gitlab.io/v6/main.css";
@import 'https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css';
@import "https://goldenlys.github.io/BetterDiscord-Elysia/Avignon.css";
@import "https://raw.githack.com/LuckFire/CSS-Snippets/master/MoreRoundedBorders/borders.css";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/rainbowtext.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/vcontrol.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/rgbcontrols.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/betterbuttons.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/home.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/audioname.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/clearchatbar.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/compacthome.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/emoji.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/imgutilfix.scss";
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/icos.scss";
.panels-j1Uci_ > .wrapper-24pKcD .flex-1xMQg5 {
  font-size: 0;
} 
.panels-j1Uci_ > .wrapper-24pKcD  .withText-10pQhr {
  margin-right: 0;
}
button[aria-label="Turn on camera"], button[aria-label="Turn off camera"], button[aria-label="Share your screen"]{ 
  width: 80px;
}
.childWrapper-anI2G9 {
  --props: .35s ease-in-out;  
  color: rgb(0, 255, 242);
  background-color: rgb(0, 0, 0, 0);
  transition: color var(--props),
              background-color var(--props);
}
/*transparent call background*/
.wrapper-2qzCYF, .minimum-28Z35l, .callContainer-36WRfH  {
  background: none!important;
}
.childWrapper-anI2G9:hover,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  color: rgb(0, 17, 255);
  background-color: rgb(0, 204, 255);
}
.container-2PDP7D,.container-1CU5bi {
  background: transparent;
}
.vz-addon-card {
  background: rgb(0, 0, 0, 0.5);
}
.vz-sticky-element {
  background: rgb(0, 0, 0, 0.5);
}
.vz-dashboard-home-features-card {
  background: rgb(0, 0, 0, 0.5);
}
.tabs-3L9Rgq {
  opacity: 0.25;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
	content: "PhoenixVizan ClearVision Custom Preset | Preset by PhoenixAceVFX#6501 | Clear Vision by Various Users";
	color: #56ddef;
	font-size: 14px;
	text-shadow: 0 0 3px #000;
  }
  .typeWindows-1za-n7 > .wordmark-2iDDfm:after {
    content: "Miku Revision!";
    color: #56efe78e;
    font-family: var(--code-font);
    font-size: 10px;
    }
    .container-3baos1:before {
      content: "PhoenixVizan";
      right: 50%;
      text-align: right;
      transform: translateX(50%);
    }
    .container-3baos1:after {
      content: "Revision 4";
      left: 50%;
      text-align: left;
      opacity: 0;
      transform: translateX(50%) rotateX(90deg);
    }
    .info-1VyQPT .colorMuted-HdFt4q:last-child:after {
      content: "PhoenixVizan Revision 4";
      display: block;
    }
    .childWrapper-anI2G9:not(.acronym-2mOFsV):before {
      content: "";
      width: 100%;
      height: 100%;
      background: url("https://server.trigon.systems/r/miku_ico.png") center/100% no-repeat;
    }
    .homeIcon-AaowEC {
      display: none;
    }
:root {
--main-color: #2780e6;
--hover-color: #1e63b3;
--success-color: #1e63b3;
--danger-color: #982929;
--url-color: #2780e6;
--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streamig-color: #593695;
--offline-color: #808080;
--main-font: 'Whitney';
--code-font: 'Consolas';
--text-normal: #dcdddeff;
--text-muted: #72767dff;
--channels-width: 240px;
--members-width: 240px;
--background-shading: 100%;
--background-overlay: #00000099;
--background-image: url('https://cdn.discordapp.com/attachments/461450417906253824/804658879107301376/wall_2.jpeg');
--background-size: cover;
--background-position: center;
--background-repeat: no-repeat;
--background-attachment: fixed;
--background-brightness: 100%;
--background-constrast: 100%;
--background-saturation: 100%;
--background-invert: 0%;
--background-grayscale: 0%;
--background-sepia: 0%;
--background-blur: 0px;
--home-icon: url('https://clearvision.gitlab.io/icons/discord.svg');
--home-position: center;
--home-size: 40px;
--background-overlay: #00000099;
--backdrop-image: url('https://cdn.discordapp.com/attachments/461450417906253824/804658879107301376/wall_2.jpeg');
--backdrop-image: center;
--backdrop-size: cover;
--backdrop-repeat: repeat;
--backdrop-attachment: fixed;
--backdrop-brightness: 100%;
--backdrop-constrast: 100%;
--backdrop-saturation: 100%;
--backdrop-invert: 0%;
--backdrop-grayscale: 0%;
--backdrop-sepia: 0%;
--backdrop-blur: 0px;
--user-popout-image: url('https://cdn.discordapp.com/attachments/461450417906253824/804658879107301376/wall_2.jpeg');
--user-popout-image: center;
--user-popout-size: cover;
--user-popout-repeat: repeat;
--user-popout-attachment: fixed;
--user-popout-brightness: 100%;
--user-popout-constrast: 100%;
--user-popout-saturation: 100%;
--user-popout-invert: 0%;
--user-popout-grayscale: 0%;
--user-popout-sepia: 0%;
--user-popout-blur: 0px;
--user-popout-overlay: #000000a6;
--user-modal-image: url('https://cdn.discordapp.com/attachments/461450417906253824/804658879107301376/wall_2.jpeg');
--user-modal-image: center;
--user-modal-size: cover;
--user-modal-repeat: repeat;
--user-modal-attachment: fixed;
--user-modal-brightness: 100%;
--user-modal-constrast: 100%;
--user-modal-saturation: 100%;
--user-modal-invert: 0%;
--user-modal-grayscale: 0%;
--user-modal-sepia: 0%;
--user-modal-blur: 0px;
--bd-blue: #2780e6;
--bd-blue-hover: #1e63b3;
--bd-blue-active: #1e63b3;
--rs-small-spacing: 2px;
--rs-medium-spacing: 3px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
--burple: rgb(95, 244, 255);
--scrollbar-thumb-dark: #f8f9fa !important;
--scrollbar-track-dark: --burple !important;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
  background-color: var(--scrollbar-track-dark) !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: var(--burple) !important;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(95, 255, 194, 0.5);
}
