@import url("https://monstrousdev.github.io/themes/phoenix-bundle/reborn.css");
:root {
--roundness: 100px;
--main-color: #FF2CFCFF;
--hover-color: #E755FFFF;
--home-color: #EB35EEFF;
--home-size: 60px;
--shadow: #00000066;
--background-image: url('https://us-east-1.tixte.net/uploads/server.trigon.systems/omori_audrey_background.png');
--background-blur: 0px;
--background-darkness: 0.75;
--popup-background: url('https://us-east-1.tixte.net/uploads/server.trigon.systems/aubrey.jpg');
}