@use "lilypichu.scss";
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css"); //credits: PhoenixAceVFX & OMORI/b4sil
@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");

//Sidebar Text
.container-1eFtFS::after {
  content: "Aubrey's Discord"; position: fixed;
  top: 100px; bottom:805px; right: 60px; z-index: -2; //text background control - this will also control where the text goes!
  text-align: center; display: flex; align-items: center;
  justify-content: center; font-size: 28px; color: var(--panel-text); //controls font size and color, i tried making an outline but it doesn't work - contact OMORI#9999 if u find a solution
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* Server hover animation */
   
.wrapper-28eC3z {
    transition: transform 0.2s;
}
.wrapper-28eC3z:hover {
    transform: scale(1.1);
}

//CHAT COLOURS
/*Categories*/

.arrow-2HswgU path, .name-3BUDLf .overflow-1wOqNV{
    color: rgb(255, 255, 255) !important;
  }
  
  /*Events*/
  
  [data-list-item-id*="channels___upcoming-events"] .iconContainer-21RCa3 > .icon-2W8DHg path, [data-list-item-id*="channels___upcoming-events"] > .name-28HaxV {
    color: rgb(235, 52, 73);
  }
  
  /*Threads*/
  [data-list-item-id*="channels___guild-active-threads"] .iconContainer-21RCa3 > .icon-2W8DHg path,
  [data-list-item-id*="channels___guild-active-threads"] > .name-28HaxV, .typeThread-2Aqh6X > .content-1gYQeQ > .mainContent-20q_Hp > .name-28HaxV {
    color: rgb(245, 241, 144) !important;
  }
  
  /*Annoucements*/
  
  [aria-label*="Announcements"] > .icon-2W8DHg path, [aria-label*="Announcements"] + .name-28HaxV{
    color:hotpink !important
  }
  
  /*Rules*/
  
  [aria-label="Rules"] path, [aria-label="Rules"] + .name-28HaxV{
    color:darkorange;
  }
  
  /*Text/Voice*/
  
  [aria-label="Text (NSFW)"] > .icon-2W8DHg path:nth-of-type(1) + path:nth-of-type(2), [aria-label="Announcements (NSFW)"] > .icon-2W8DHg path:nth-of-type(1),[aria-label*="Active Threads"] [clip-rule=evenodd]:last-of-type {
    color:red !important;
  }
  
  [aria-label*="Text (Active Threads)"] > .icon-2W8DHg >  path:nth-of-type(2), [aria-label*="Text (Active Threads)"] path:nth-of-type(3){
    color: rgb(245, 241, 144) !important;
  }
  
  
  [aria-label*="Limited"]:not([aria-label*="Announcements"]) > .icon-2W8DHg > path:nth-child(2), [aria-label*="Active Threads"] [clip-rule="evenodd"]:first-of-type,
  [aria-label*="Announcements (Limited)"] > .icon-2W8DHg > path:first-of-type{
    color: orange !important;
  }
  
  [aria-label*="Locked"] > .icon-2W8DHg path, [aria-label*="Locked"] + .name-28HaxV .channelName-3KPsGw{
    color: red !important;
  }
  
  [aria-label*="Voice"]:not([aria-label*="Locked"])> .icon-2W8DHg path,[aria-label*="Voice"]+ .name-28HaxV .channelName-3KPsGw{
    color: rgb(102, 153, 255);
  }
  
  [aria-label*="Text"] > .icon-2W8DHg path, [aria-label*="Text"]+ .name-28HaxV .channelName-3KPsGw{
    color: rgb(102, 255, 153);
  }

//favorites icon (EXPERIMENTS FUNCTION)
.wrapper-3kah-n[href^="/channels/@favorites/"] > .childWrapper-1j_1ub{
    /* i made this icon in 5 minutes, use any url you want */
    background-image: url(https://media.discordapp.net/attachments/765213354616684544/938824361509527563/star.png);
    background-position: center;
  
    /* might need adjustment depending on the image size */
    background-size: 100%;
  }
  /* remove original SVG */
  .wrapper-3kah-n[href^="/channels/@favorites/"] > .childWrapper-1j_1ub > svg{
    display: none;
  }

//dash2space
@font-face {
    font-family: dash2space;
    unicode-range: U+002D;
    src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf) format('truetype'), url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2) format('woff2')
}

.title-17SveM {
text-transform: capitalize;
font-family: dash2space, var(--font-primary);
}
@font-face {
    font-family: dash2space;
    unicode-range: U+002D;
    src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf) format('truetype'), url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2) format('woff2')
}

#app-mount [data-list-item-id*="channels___upcoming-events-"]>div.name-28HaxV {
    font-size: 14px;
    font-family: dash2space, var(--font-primary);
    text-transform: capitalize
}

.autocompleteRowVertical-EA9dCg[data-list-item-id*=channel-autocomplete] .autocompleteRowContentPrimary-1kUW9H .colorInteractiveActive-30E9n8,
.content-2a4AW9 .emptyChannelIcon-1YdEz2~.size32-5yOQel,
.quickswitcher-pKcM9U .result-u66Ywh .match-20K5f5,
.sidebar-1tnWFu .mainContent-20q_Hp[href] .channelName-3KPsGw,
.title-31SJ6t .iconWrapper-2awDjA+.title-17SveM,
.wrapper-1ZcZW-[class="wrapper-1ZcZW- mention interactive"] {
    font-family: dash2space, var(--font-primary);
    text-transform: capitalize
}

//Home Icon
.tutorialContainer-1pL9QS .homeIcon-r0w4ny path {
    d: path("M13.5 1.515a3 3 0 00-3 0L3 5.845a2 2 0 00-1 1.732V21a1 1 0 001 1h6a1 1 0 001-1v-6h4v6a1 1 0 001 1h6a1 1 0 001-1V7.577a2 2 0 00-1-1.732l-7.5-4.33z");
    transform: translate(2px, -1px) scale(0.94);
}

//Discord Color Border
:root {

    --thickness: 15px;
    --speed: 6s;
    --radius: 6px;

    --color-alternate: #fff066;
    --color-secondary: #ffe600;
    --color-tertiary: #fb00ff;
    --color-primary: #33d3ff;
    --color-accent: #fff766;

    
}

#app-mount {
    border-radius: var(--radius); margin: var(--thickness);
    width: calc(100% - calc(var(--thickness) * 2))!important;
    height: calc(100% - calc(var(--thickness) * 2))!important;
}

body {
    background: linear-gradient(to left, var(--color-alternate), var(--color-secondary), var(--color-tertiary), var(--color-primary), var(--color-accent));
    animation: gradient-border var(--speed) linear infinite; background-size: 400% 100%; color: transparent !important;
}

@keyframes gradient-border {
    0%,
    200% {
        background-position: 0 0;
    }

    99.999999999999999% {
        background-position: 130% 0;
    }
}

/* edited text */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
    content: " (" attr(aria-label) ")";
    color: var(--text-muted);
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: lowercase;
}

.edited-1v5nT8:not(.message-translate-indicator) {
display: none;
}

//favorites thing
[d="M21.924 8.61789C21.77 8.24489 21.404 8.00089 21 8.00089H15.618L12.894 2.55389C12.555 1.87689 11.444 1.87689 11.105 2.55389L8.38199 8.00089H2.99999C2.59599 8.00089 2.22999 8.24489 2.07599 8.61789C1.92199 8.99089 2.00699 9.42289 2.29299 9.70789L6.87699 14.2919L5.03899 20.7269C4.92399 21.1299 5.07199 21.5619 5.40999 21.8089C5.74999 22.0569 6.20699 22.0659 6.55399 21.8329L12 18.2029L17.445 21.8329C17.613 21.9449 17.806 22.0009 18 22.0009C18.207 22.0009 18.414 21.9369 18.59 21.8089C18.928 21.5619 19.076 21.1299 18.961 20.7269L17.123 14.2919L21.707 9.70789C21.993 9.42289 22.078 8.99089 21.924 8.61789Z"] {
    d: path("M16.44 3.10156C14.63 3.10156 13.01 3.98156 12 5.33156C10.99 3.98156 9.37 3.10156 7.56 3.10156C4.49 3.10156 2 5.60156 2 8.69156C2 9.88156 2.19 10.9816 2.52 12.0016C4.1 17.0016 8.97 19.9916 11.38 20.8116C11.72 20.9316 12.28 20.9316 12.62 20.8116C15.03 19.9916 19.9 17.0016 21.48 12.0016C21.81 10.9816 22 9.88156 22 8.69156C22 5.60156 19.51 3.10156 16.44 3.10156Z");
    transform: scale(1.1) translate(-1.5px, -1px);
}
.wrapper-3kah-n.selected-1Drb7Z[href^="/channels/@favorites/"]  .childWrapper-1j_1ub {
    background: none !important;
}

.wrapper-3kah-n.selected-1Drb7Z[href^="/channels/@favorites/"] .childWrapper-1j_1ub::after {
    background-color: #F62B30;
 content: "";
 position: absolute;
 width: 20px; height: 20px;
 filter: blur(10px);
 opacity: 0.4;
}

.wrapper-3kah-n.selected-1Drb7Z[href^="/channels/@favorites/"] .childWrapper-1j_1ub svg path {
    fill: #F62B30;
}

:root .app-2CXKsg::before { background: transparent center/90% no-repeat;}

:root .app-3xd6d0::before, :root .app-3xd6d0::after { display: none;}

:root { //i imported this with my bare hands! - OMORI
    .guilds-2JjMmN .scroller-3X7KbA { 
        padding: 8px 0 130px 0;

        .wrapper-28eC3z foreignObject { 
            mask: none; border-radius: var(--border-radius2); //server icon radius
            transition: border-radius 0.15s;

            &:hover { border-radius: calc(var(--border-radius) - 5px);}
        }
        
        .folder-241Joy { background-color: transparent;}


        // Discover + create a server buttons
        .circleIconButton-1VxDrg {
            color: var(--background-accent);
            background-color: var(--background-secondary-alt) !important;
        }
    }
}

:root { //i imported this with my bare hands! - OMORI

    // -- Member list --
    .membersWrap-3NUR2t {
            
        // Header
        &::before {
            content: "Member list"; position: absolute;
            top: -60px; z-index: 1;
            width: 100%; height: 60px;
            display: flex;
            align-items: center; justify-content: center;
            font-size: 20px; font-weight: bolder;
            color: var(--header-primary);
            background-color: var(--background-secondary);
            border-radius: var(--border-radius3) var(--border-radius3) 0 0;
        }
    
        .members-3WRCEx { 
            width: 100%; 
            background-color: var(--background-primary);
            
            .content-2a4AW9 { min-height: 1000px; background-color: transparent;}
            .member-2gU6Ar { 
                max-width: 300px; 
                border-radius: var(--border-radius2);
                background-color: var(--background-primary);
            }
        }
        
        // Footer
        &::after {
            content: ""; position: absolute;
            bottom: -35px; z-index: 1;
            width: 100%; height: 35px;
            background-color: var(--background-secondary);
            border-radius: 0 0 var(--border-radius3) var(--border-radius3);
            background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255,255,255,0) 0%);
            background-position: top;
            background-size: 21px 2px;
            background-repeat: repeat-x;
        }
    }
}
:root .app-2CXKsg::after { 
    background: transparent;
    background-size: 91%;
}

:root .layers-OrUESM::after { 
    background: transparent;
    background-size: 97%;
}

:root .layers-OrUESM::before {
    background: transparent;
    background-size: 100%;
    right: -3px;
}

:root .bg-1QIAus::after { 
    background: transparent;
    background-size: 92%;
}

:root .bg-1QIAus::before { 
    background: transparent;
    background-size: 100%;
}
:root {

// --- User variables ---

// Jumping GIF
--jumping-gif: url("https://preview.redd.it/bbwm9zhdhpf71.png?auto=webp&s=ab62c460259d73c259a4d21421114932a3543228");

//the background for the theme, paste **an image that only shows the image itself and nothing else**
--background-tertiary-alt: url("https://us-east-1.tixte.net/uploads/server.trigon.systems/omori_audrey_background.png"); //back this up to a different image hoster, discordapp is not recommended for themes!!

// border radius vars
--border-radius: 10px; //main radius control - this may break the look of some stuff
--border-radius2: 19px; //server icon radius
--border-radius3: 30px; //testing

&.theme-dark {

    // Text
    --text-normal: #ffffff; //default text colors
    --header-primary: #ffffff; //header text colors
    --interactive-normal: #b8b8b8; //interactable element colors
    --channels-default: #ffffff; //channel default colors
    --panel-text: #ffffff; //ver panel text color - OMORI

    --text-muted: #ffffff; //muted channel/user colors
    --interactive-muted: #ffffff; //interactable muted channel/user colors

    --header-secondary: #ffffff; //2nd header colors
    --interactive-hover: #dddddd; //hover colors
    --interactive-active: #dadada; //arned colors

    // Background color
    --background-primary: #70426aa8;
    --background-secondary: #201220a8;
    --background-secondary-alt: #2b182aa8;
    --background-tertiary: #3f203ca8;
    --background-floating: #4e254ccc;
    --background-accent: #8b478bb7;
    --scrollbar-color: #ff7be200; //i don't like scrollbars in discord, they look ugly - OMORI
    --activity-card-background: var(--background-secondary-alt);
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(178, 92, 185, 0.32);
    --background-modifier-active: rgba(37, 18, 34, 0.32);
    --background-modifier-selected: rgba(24, 12, 21, 0.32);
    --toast-background: rgb(190, 88, 173) !important;
    --toast-header: #2b1027d5 !important;
    --toast-contents: #461c42cb !important;
    --toast-border: #4b274bc0 !important;

    // Scrollbar
    --scrollbar-auto-thumb: var(--scrollbar-color); 
    --scrollbar-auto-track: var(--scrollbar-color);
    --scrollbar-thin-thumb: var(--scrollbar-color);
    --scrollbar-thin-track: transparent;

    // Other
    --deprecated-quickswitcher-input-background: var(--background-primary);

    .colorBrand-3cPPsm { color: #ffffff;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    // Buttons
    .lookFilled-yCfaCM { background-color: #000000 !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #ffffff !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #ffffff; border-color: #ffffff;}

    // Hover background
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}
}

&.theme-light {

    // Text
    --text-normal: #ffffff;
    --header-primary: #ffffff;
    --interactive-normal: #ff3131;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #ffffff;

    --header-secondary: #ffffff;
    --interactive-hover: #ff8282;
    --interactive-active: #ff0000;

    // Background color
    --background-primary: #000000c0;
    --background-secondary: #00000088;
    --background-secondary-alt: #000000b9;
    --background-tertiary: #000000c7;
    --background-floating: #000000cc;
    --background-accent: #000000b7;
    --activity-card-background: var(--background-secondary-alt);
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(59, 59, 59, 0.32);
    --background-modifier-active: rgba(31, 31, 31, 0.32);
    --background-modifier-selected: rgba(24, 24, 24, 0.32);
    --toast-background: rgb(95, 95, 95) !important;
    --toast-header: #2e2e2ed5 !important;
    --toast-contents: #474747cb !important;
    --toast-border: #444444c0 !important;

    // Scrollbar
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    // Other
    --deprecated-quickswitcher-input-background: var(--background-primary);

    .colorBrand-3cPPsm { color: #ffffff;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    // Buttons
    .lookFilled-yCfaCM { background-color: #000000 !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #ffffff !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #ffffff; border-color: #ffffff;}

    // Hover background
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}
}

#app-mount {

// Fonts
--font-primary: 'Nunito';
--font-display: 'Nunito';

}

}